

.cosas {
  display: flex;
  justify-content: space-around;
  
  width: 98%;
   
    background-color: rgb(134, 133, 130);
    backdrop-filter: blur(25px);
    z-index: +0;
    padding-bottom: 2rem;
    border-spacing: 5px;
    margin: 10px;
}

.p {
  color: rgb(144, 10, 227);
  font-size: 18px;
}

.box {
  padding: 4px;
  background-color:#282c34ad;

}