
.container {
  width: 70%;
  height: 70%;
  margin: 20px;
  margin-left: 90px;
  
  display: inline-block;
  left: 10px;
  padding-top: 6px;
  background-color:#1a1a1c;
  backdrop-filter: blur(2px);
  z-index: 10;
  
  
}

.cosas {
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 100px;
  margin: 30px;
}

.menuh {
  font-size: 15px;
  padding-top: 5px;
  padding-left: 25px;
  transition: 0.3s;
  height: 20px;
  width: fit-content;
  cursor: pointer;
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 130%;
  margin-right: 40px;
}

.menuh:hover {
  text-shadow: 3px 3px 5px rgb(10, 10, 1);
  transform: scale(1.1);

}

.main {
  font-size: 20px;
  padding-left: 15px;
  transition: 0.3s;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(12, 12, 12)
}

.btn {
  background: linear-gradient(to bottom, rgb(144, 10, 227), rgb(1, 1, 19));
  /* color de fondo */
  color: #4741d7;
  /* color de fuente */
  border: 2px solid #4741d7;
  /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.btn:hover {
  color: #fff;
  /* color de fuente hover */
}

.btn::after {
  content: "";
  background: #282c34;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.btn:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}