.container {
  display: flex;
  gap: 2rem;
}

.container input {
  border: none;
  outline: none;
  padding: .3rem;
  font-size: 0.9rem;
  border-radius: .2rem;
}

.container input:focus {
  outline: 0.5px solid #cc0d0d;
}



.input {
  background-color: #aaa5a5;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
   box-shadow: 3px 3px 2px rgb(249, 255, 85); 
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -2px -px 12px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.button2 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
}

.button2:hover::before {
  transform: scaleX(1);
}

.button22 {
  position: relative;
  z-index: 1;
}

.button2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}