.container {
  display: flex;
  gap: 2rem;
}

.container input {
  border: none;
  outline: none;
  padding: .3rem;
  font-size: 0.9rem;
  border-radius: .2rem;
}

.container input:focus {
  outline: 0.5px solid #cc0d0d;
}


.btn {
  background: linear-gradient(to bottom, rgb(10, 180, 227), rgb(1, 1, 19));
  /* color de fondo */
  color: #f5f5f8;
  font-weight: bold;
  /* color de fuente */
  border: 2px solid #4741d7;
  /* tamaño y color de borde */
  padding: 6px 2px;
  border-radius: 3px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
}

.btn:hover {
  color: #fff;
  /* color de fuente hover */
}

.btn::after {
  content: "";
  background: #282c34;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.btn:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}