.container {
  display: flex;
  gap: 2rem;
}

.container input {
  border: none;
  outline: none;
  padding: .3rem;
  font-size: 0.9rem;
  border-radius: .2rem;
}

.container input:focus {
  outline: 0.5px solid #cc0d0d;
}


