 .container {
   /* background-image: url(https://fondosmil.com/fondo/72089.jpg); */
   background-repeat: no-repeat;
   padding-top: 15px;
   width: 100%;
   height: 120vh;

 }

 .card {
   color: black;
   line-height: 18px;
    text-align: center;
   
   
   font-size: 0.9rem;
  
   background: linear-gradient(to bottom,rgb(12, 12, 12), rgb(144, 10, 227));
   box-shadow: 2px 2px 15px #01070e;
   border-radius: 25px;
   border: ridge;
   border-width: 4px;
   border-color: #0a72ea;
   min-height: 500px;
   max-width: 700px;
   margin: auto;
   opacity: 0.8;
   border: 1px solid rgb(12, 12, 12);
 }

 .card p {
  text-align: justify;
 }